<img *ngIf="showDefault === false" [style.width]="size" [style.height]="size" style="border-radius: 30px; text-align: center;"
    [src]="avatar" />
<span *ngIf="showDefault === true">
    <i class="far fa-user-circle fa-2x"></i>
</span>