<DivChat-main (groupCreatedHandler)="groupCreatedInnerHandler($event)" [showCreator]="showCreator"></DivChat-main>

<DivChat-chat-box *ngFor="let window of activeWindows" [entity]="window.entity" [screenPositionNo]="window.index"
    (sentMessageHandler)="sentMessageInnerHandler($event)" (windowOpenHandler)="chatOpenInnerHandler($event)"
    (groupUpdatedHandler)="groupUpdatedInnerHandler($event)"></DivChat-chat-box>