<span nz-popover [nzPopoverContent]="contentTemplate">
    <i class="fas fa-icons"></i>
</span>
<ng-template #contentTemplate>
    <div class="divchat icon-box">
        <nz-tabset>
            <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
                <ng-template #titleTemplate><span>{{tab.icon}}</span></ng-template>
                <div style="height: 250px; overflow-y: auto;">
                <span (click)="click(icon.char)" *ngFor="let icon of tab.icons">{{icon.char}}</span>
            </div>
            </nz-tab>
        </nz-tabset>
    </div>
</ng-template>