<div *ngIf="settings">
    <div [style.display]="settings.windows.main.isVisible === true ? 'block' : 'none'"
        [style.padding-top.px]="settings.windows.fullscreen?.margintop">
        <div *ngFor="let tab of tabs" style="margin-left: 3px; display: inline-block; text-align: center;"
            [style.width.%]="94/tabs.length" (click)="selectTab(tab.id)"><span style="margin-right: 3px;"><i
                    class="{{tab.icon}}"></i></span>{{ tab.name }}
        </div>
        <hr />

        <div style="overflow-y: scroll;" [style.height.px]="settings.windows.main.currentHeight - 117">
            <div *ngIf="selectedTab.type === 1">
                <div *ngFor="let item of selectedTab.list">
                    <div style="display: flex; align-items: stretch; ">
                        <div style="flex-grow: 1; text-align: center;">
                            <app-custom-avatar [avatar]="item.avatar">
                            </app-custom-avatar>
                        </div>
                        <div style="flex-grow: 8; text-align: left; padding-top: 3px;">
                            {{ item.name }}</div>
                        <div style="flex-grow: 1; text-align: center; padding-top: 6px;">
                            <app-custom-status-badge [status]="item.status">
                            </app-custom-status-badge>

                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <div *ngIf="selectedTab.type === 2 || selectedTab.type === 3">
                <div *ngFor="let item of selectedTab.list">
                    <div style="display: flex; align-items: stretch; ">
                        <div style="flex-grow: 1; text-align: center;">
                            <app-custom-avatar [avatar]="item.avatar">
                            </app-custom-avatar>
                        </div>
                        <div style="flex-grow: 9; text-align: left; padding-top: 3px;">
                            {{ item.name }}</div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <input style="width: 100%; border: 1px solid #d9d9d9; border-radius: 2px; padding: 5px; padding-left: 10px;"
            placeholder="Search" />
    </div>
</div>