<span nz-tooltip nzTooltipTitle="Online">
    <nz-badge *ngIf="status == 1" nzStatus="success"></nz-badge>
</span>

<span nz-tooltip nzTooltipTitle="Offline">
    <nz-badge *ngIf="status == 2" nzStatus="default"></nz-badge>
</span>