<form [formGroup]="form" (ngSubmit)="createGroup()">
    <div nz-row nzGutter="12">
        <div nz-col nzSpan="5">
            <div style="float: right; padding-top: 5px;">Title</div>
        </div>
        <div nz-col nzSpan="19">
            <input nz-input placeholder="Title" formControlName="title" required />
            <div *ngIf="form.controls.title.invalid">
                <span *ngIf="form.controls.title.errors.required">Title is required!</span>
            </div>
        </div>
    </div>
    <div nz-row nzGutter="12" style="margin-top: 10px;">
        <div nz-col nzSpan="5">
            <div style="float: right; padding-top: 5px;">Recipients</div>
        </div>
        <div nz-col nzSpan="19">
            <nz-select style="width: 100%" nzMode="multiple" formControlName="selectedUsers" nzAllowClear required
                nzNotFoundContent="No items found!" nzPlaceHolder="Recipients" [nzCustomTemplate]="custom">
                <nz-option *ngFor="let user of users" nzCustomContent [nzLabel]="user.name" [nzValue]="user.id">
                    <nz-avatar nzIcon="user" [nzSrc]="user.avatar" nzSize="small"></nz-avatar> {{user.name}}
                </nz-option>
            </nz-select>
            <ng-template #custom let-selected>
                <span>{{ selected.nzLabel }}</span>
            </ng-template>
            <div *ngIf="form.controls.selectedUsers.invalid">
                <span *ngIf="form.controls.selectedUsers.errors.required">Recipients is required!</span>
            </div>
        </div>
    </div>
    <div nz-row nzGutter="12" style="margin-top: 10px;">
        <div nz-col nzSpan="24">
            <div style="float: right; padding-top: 5px;">
                <button nz-button nzType="default" (click)="close()" [nzLoading]="isLoading"
                    style="margin-right: 5px;">Close</button>
                <button nz-button type="submit" nzType="primary" [nzLoading]="isLoading">{{ groupId == undefined ? 'Create' : 'Update' }}</button>
            </div>
        </div>
    </div>
</form>