<!-- <div-chat (chatOpenHandler)="chatOpenHandler($event)" (sentMessageHandler)="sentMessageHandler($event)"
        (groupCreatedHandler)="groupCreated($event)" (groupUpdatedHandler)="groupUpdated($event)" [userId]="userId"
        [showCreator]="true" [showTestData]="true" [isCollapsed]="true"></div-chat> -->

<div *ngIf="settings">
        <app-fullscreen [isVisible]="fullscreenMode"></app-fullscreen>
        <app-embedded [isVisible]="embeddedModel"></app-embedded>

        <!-- <div
                style="position: absolute; right: 0; bottom: 0; margin-bottom: 3px; margin-right: 3px; padding: 10px; font-size: 17px;">
                <i class="fas fa-plus-circle fa-2x"></i>
        </div>
        <div *ngFor="let chat of settings.activeChats">
                <div style="position: absolute; right: 0; margin-bottom: 3px; margin-right: 3px; padding: 10px;"
                        [style.bottom.px]="getItemHeight(settings.activeChats, chat)">
                        <app-custom-avatar [avatar]="chat.avatar"></app-custom-avatar>
                </div>
        </div>

        <div style="position: absolute; bottom: 0; background-color: white; margin-bottom: 3px; margin-right: 3px; border-radius: 2px;"
                [style.height.px]="settings.windows.main.currentHeight" [style.width.px]="settings.windows.main.width"
                [style.right.px]="50">

                <app-chat-box-content></app-chat-box-content>

        </div> -->
        <!--  <div style="padding: 7px; padding-bottom: 22px;" (click)="toggleCollapse()">
                        <div style="float: left;">Chats</div>
                        <div style="float: right;">
                                <div style="margin-right: 10px; display: inline-block; text-align: center;"><i
                                                class="fas fa-users-cog"></i></div>
                                <div style="margin-right: 10px; display: inline-block; text-align: center;"><i
                                                class="fas fa-cogs"></i></div>
                        </div>
                </div>
                <hr />
                
        </div>

         -->
</div>