<div *ngIf="settings">
    <div style="padding: 7px; padding-bottom: 30px;">
        <div style="float: left;">
            <div style="display: flex; align-items: stretch; ">
                <div style="flex-grow: 1; text-align: center;">
                    <app-custom-avatar [size]="'32px'"
                        avatar="https://scontent-waw1-1.xx.fbcdn.net/v/t31.0-1/cp0/c0.7.60.60a/p60x60/21640903_1136793516420779_6930045231686576651_o.jpg?_nc_cat=102&_nc_sid=7206a8&_nc_ohc=8YZRzCRczMYAX_j4RGu&_nc_ht=scontent-waw1-1.xx&oh=9da276219e259b81874345b53e61a309&oe=5EEBF675">
                    </app-custom-avatar>
                </div>
                <div style="flex-grow: 8; text-align: left; padding-top: 5px; margin-left: 5px;">
                    Troche pyrka xd</div>
                <div style="flex-grow: 1; text-align: center; padding-top: 8px; margin-left: 20px;">
                    <app-custom-status-badge [status]="1">
                    </app-custom-status-badge>

                </div>
            </div>
        </div>
        <div style="float: right;">
            <div style="margin-right: 10px; display: inline-block; text-align: center; font-size: 20px;">
                <i class="fas fa-users-cog"></i></div>
            <div style="margin-right: 10px; display: inline-block; text-align: center;"><i class="fas fa-cogs"></i>
            </div>
        </div>
    </div>
    <hr />

    <div style="padding-left: 20px; padding-right: 20px; overflow-y: scroll;"
        [style.height.px]="settings.windows.main.currentHeight - 117">
        <div *ngFor="let message of messages">
            <div *ngIf="message.authorId !== userId">
                <div
                    style="width: 80%; background-color: rgba(238, 235, 37, 0.5); border-radius: 15px; padding-left: 10px; padding-right: 10xp; margin-top: 5px; display: inline-block; ">
                    {{ message.content }}
                </div>
                <div style="display: inline-block; width: 4%;">
                    <app-custom-avatar [size]="'18px'"
                        avatar="https://scontent-waw1-1.xx.fbcdn.net/v/t31.0-1/cp0/c0.7.60.60a/p60x60/21640903_1136793516420779_6930045231686576651_o.jpg?_nc_cat=102&_nc_sid=7206a8&_nc_ohc=8YZRzCRczMYAX_j4RGu&_nc_ht=scontent-waw1-1.xx&oh=9da276219e259b81874345b53e61a309&oe=5EEBF675">
                    </app-custom-avatar>
                </div>
                <div style="display: inline-block; width: 15%;">
                    <div style="padding-top: 5px;">
                        5 minutes ago
                    </div>
                </div>
            </div>
            <div *ngIf="message.authorId === userId"
                style="margin-left: 20%; background-color: rgba(37, 52, 238, 0.5); border-radius: 15px; padding-left: 10px; padding-right: 10xp; margin-top: 5px;">
                {{ message.content }}
            </div>
        </div>
    </div>

    <div style="display: flex; align-items: stretch; ">
        <div style="flex-grow: 1; text-align: center;">
            <button style="width: 100%;">
                <i class="fas fa-icons"></i>
            </button>
        </div>
        <div style="flex-grow: 8; text-align: center;">
            <input style="width: 100%;" [(ngModel)]="newMessageContent" />
        </div>
        <div style="flex-grow: 1; text-align: center;">
            <button style="width: 100%;" (click)="sendMessage()">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </div>
</div>