.usersList {
    position: absolute;
    right: 6px;
    bottom: 6px;
    z-index: 999;
}

.usersList .ant-card-body {
    padding: 0px;
}

.usersList .ant-card-head {
    padding: 0 12px;
}

.usersList .ant-card-head-title {
    padding: 10px 0;
}

.usersList .ant-card-extra {
    padding: 10px 0;
}

.usersList .ant-tabs-bar {
    margin: 0;
}

.usersList .avatar {
    margin-right: 10px;
    border-radius: 50%;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden; 
    margin-left: 5px;
    display: inline-block;
    white-space: nowrap;
}