<nz-card class="usersList" style="width: 19%" [nzTitle]="headerTemplate" [nzExtra]="extraTemplate"
    [ngStyle]="{ 'height': isCollapsed ? '' : '450px;' }">
    <nz-spin nzTip="Loading..." [nzSpinning]="isLoading" *ngIf="!isCollapsed">

        <nz-tabset nzSize="small" style="text-align: center;">
            <nz-tab [nzTitle]="userTab" (nzSelect)="tabChanged('users')">
                <ng-template #userTab> Users </ng-template>
            </nz-tab>
            <nz-tab *ngIf="groupsEnabled" [nzTitle]="groupTab" (nzSelect)="tabChanged('groups')">
                <ng-template #groupTab> Groups </ng-template>
            </nz-tab>
        </nz-tabset>

        <div [ngStyle]="{ height : showCreator ? '285px' : '265px' }" style="overflow-y: auto;">
            <span *ngIf="!isLoading">
                <ul nz-list [(nzDataSource)]="filteredItems" nzSize="small" nzBordered [nzRenderItem]="item"
                    nzNoResult="No {{currentTab}}!">
                    <ng-template #item let-item>
                        <li nz-list-item [nzContent]="itemTitle" nzNoFlex (click)="openChat(item)">
                        </li>
                        <ng-template #itemTitle>
                            <div nz-row nzGutter="14">
                                <div nz-col nzMd="4" nzLg="3" nzXl="2">
                                    <nz-avatar [nzShape]="'square'" [nzSize]="'small'" [nzIcon]="'user'"
                                        [nzSrc]="item.avatar"></nz-avatar>
                                </div>
                                <div nz-col nzMd="10" nzLg="12" nzXl="15" class="name">
                                    {{item.name}}
                                </div>
                                <div nz-col nzMd="5" nzLg="5" nzXl="4">
                                    <nz-badge [nzCount]="item.unreadMessagesCount"></nz-badge>
                                </div>
                                <div nz-col nzMd="4" nzLg="3" nzXl="2">
                                    <DivChat-status-badge [status]="item.status"></DivChat-status-badge>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </ul>
            </span>
        </div>

        <input nz-input placeholder="Search" (keyup)="search()" [(ngModel)]="searchValue" />
        <div *ngIf="showCreator" style="text-align: center;"> Made with ❤️ by <a _ngcontent-suv-c1=""
                href="https://div.pt"><img _ngcontent-suv-c1="" src="./../../assets/div_logo.png"
                    style="vertical-align:middle" width="50px" height="14px"></a></div>

    </nz-spin>
</nz-card>
<ng-template #headerTemplate>
    <div (click)="showHideWindow()">{{title}}</div>
</ng-template>
<ng-template #extraTemplate>
    <span *ngIf="groupsEnabled" nz-tooltip nzTooltipTitle="Add group" (click)="showCreateGroupModal()"
        style="margin-right: 10px;">
        <i class="fas fa-users-cog"></i>
    </span>
    <span nz-tooltip nzTooltipTitle="Settings" (click)="chatSettingsVisible = true">
        <i class="fas fa-cog"></i>
    </span>
</ng-template>

<nz-modal [(nzVisible)]="chatSettingsVisible" nzTitle="Chat settings" nzCancelDisabled="true"
    (nzOnCancel)="chatSettingsVisible = false;" (nzOnOk)="applySettings()" nzOkText="Apply">
    <div nz-row nzGutter="12">
        <div nz-col nzSpan="6">
            <div style="float: right; padding-top: 5px;">Sort by</div>
        </div>
        <div nz-col nzSpan="18">
            <nz-select style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder="Sort by" [(ngModel)]="sortBy">
                <nz-option nzLabel="Name" nzValue="alphabet"></nz-option>
                <nz-option nzLabel="Status" nzValue="status"></nz-option>
            </nz-select>
        </div>
    </div>
</nz-modal>