<div id="myModal" class="modal" [style.display]="isVisible === true ? 'block' : 'none'">

    <!-- Modal content -->
    <div class="modal-content">
        <div style="display: inline-block; width: 24%; text-align: center;">
            <app-participants-tabs [fullscreen]="true"></app-participants-tabs>
        </div>
        <div style="display: inline-block; width: 75%; text-align: center;">
            <app-chat-box-content></app-chat-box-content>
        </div>

    </div>

</div>