<nz-card class="chat-box usersList" style="width: 19%" [ngStyle]="{ right: (20 * screenPositionNo) + '%' }"
    [nzTitle]="titleTemplate" [nzExtra]="extraTemplate">

    <nz-spin nzTip="Loading..." [nzSpinning]="isLoading">
        <div #scrollMe style="height: 320px; overflow-y: auto;">

            <span *ngFor="let message of messages" nz-tooltip nzTooltipTitle="{{message.dateSent | amTimeAgo}}">
                <div *ngIf="message.fromId != userId" nz-row nzType="flex" nzJustify="start">
                    <div class="message message-from" nz-col nzSpan="18">
                        <span *ngIf="entity.entityType == 2" nz-tooltip nzTooltipTitle="{{ message.from.name }}">
                            <nz-avatar nzIcon="user" [nzSrc]="message.from.avatar" nzSize="small"></nz-avatar>
                        </span>
                        {{message.message}}
                    </div>
                </div>
                <div *ngIf="message.fromId == userId" nz-row nzType="flex" nzJustify="end">
                    <div class="message message-to" nz-col nzSpan="18">{{message.message}}</div>
                </div>
            </span>

        </div>

        <div nz-row>
            <div nz-col nzSpan="20">
                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <input nz-input placeholder="Send new message" [(ngModel)]="message" (keydown)="submit($event)" />
                </nz-input-group>
                <ng-template #addOnBeforeTemplate>
                    <DivChat-add-emoji (iconClickedHandler)="iconClicked($event)"></DivChat-add-emoji>
                </ng-template>
            </div>
            <div nz-col nzSpan="4">
                <button style="width: 100%;" nz-button nzType="default" (click)="sendMessage()">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>

    </nz-spin>
</nz-card>
<ng-template #extraTemplate>
    <span nz-tooltip nzTooltipTitle="Group settings" (click)="showGroupSettingsModal()" style="margin-right: 10px;">
        <i class="fas fa-cog"></i>
    </span>
    <span (click)="close()">
        <i class="far fa-times-circle fa-1x"></i>
    </span>
</ng-template>

<ng-template #titleTemplate>
    <nz-avatar nzIcon="user" [nzSrc]="entity.avatar" nzSize="small"></nz-avatar>
    <span style="padding-top: 5px; margin-left: 5px; padding-right: 10px;">{{entity.name}}</span>
    <DivChat-status-badge [status]="entity.status"></DivChat-status-badge>
</ng-template>