.chat-box {
    position: absolute;
    bottom: 6px;
    height: 400px;
    z-index: 999;
}

.avatar {
    margin-right: 10px;
    border-radius: 50%;
}

.message {
    display: block;
    max-width: 70%;
    margin-top: 4px;
    border-radius: 6px;
    padding: 5px;
    padding-left: 5px;
}

.message-from {
    float: left;
    background-color: rgba(235, 254, 237, 1);
    margin-left: 4px;
}

.message-to {
    float: right;
    background-color: rgba(215, 239, 254, 1);
    margin-right: 4px;
}